@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');

*{
    transition: all 1s;
}


body{
    padding: 10px;
    background-color: #CAD7D7;

}

section{
    display: flex;
    flex-direction: row;
}

h2 {
    font-family: "Lora";
}

img {
    width: 60px;
    border-radius: 5px;
    margin: 10px;
}


#cart{
    background-color:salmon;
}

#cart, #items{
    width: 50vw;
}


li {
    list-style: none;
    margin: 10px auto;
}

.item-infos {
    display: flex;
    align-items: center;
}

span.item-name {
    font-size: 1.5em;
    margin-right: 10px;
}

span.item-price {
    text-align: center;
    vertical-align: middle;
    padding: 5px 8px;
    font-size: 1.2em;
    background-color: #982B3C;
    border-radius: 5px;
    color: white;
}

h1{
    color:#7c32ff;
}
/*selecting a tag*/

p{
    color:green;
    text-decoration: line-through;
}


/*Ids have hashtags*/
#two {
    background-color:rebeccapurple;
}

/*classes have dots*/
.example {
    border: 5px dashed purple;
    margin: 5px;
}
